<div class="repositories-container">
  <h1>Repositories :</h1>
  <% (1..10).to_a.each do |repo| %>
    <%= link_to "#" do %>
      <%= render "shared/components/cards/card_generic", repo: repo %>
    <% end %>
  <% end %>
</div>
