.card-generic {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
  height: 30px;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  transition: 0.2s;
  background-color: white;
  transition: 1s;
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }
  &.card-generic-opened {
    min-height: 150px;
    .card-generic-top {
      color: #11627D;
    }
    .card-generic-details {
      display: block;
      margin-top: 1rem;
      color: #484848;
    }
  }
  .card-generic-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
  }
  &:hover {
    transform: scale(1.02);
  }
  .card-generic-details {
    display: none;
  }
  .card-generic-details-link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .card-generic-stars{
    width: 60px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      margin-left: 0.5rem;
      width: 30px;
      height: 30px;
      filter: brightness(0.2) saturate(0);
      opacity: 0.2;
      &.active {
        filter: brightness(1) saturate(1);
        opacity: 1;
      }
    }
  }
}
