.content-logo-title {
  position: relative;
  display: inline-block;
  #logo {
    font-family: "Kurale", serif;
    font-size: 36px;
    color: #11627D;
    display: block;
    margin: 0;
  }
  img {
    width: 95px;
  }
}
