<%= link_to "https://www.edulib.fr" do %>
  <div class="content-logo-title">
    <h1 id="logo" class="kurale blue-dark">
      <span class="orange">é</span>dulib
    </h1>
    <%= image_tag asset_path "logo/logo-accolade.svg" %>
  </div>
<% end %>
