<div class="card-generic-details-link">
  <%= link_to resource.html_url, id:"#{resource.decorated(self).css_id}-github", target: "_blank" do %>
    <%= image_tag "pictos/github-brands.svg" %>
  <% end %>
</div>
